
.card-style {
  display          : block;
  width            : 300px;
  height           : 120px;
  margin-top       : 20px;
  margin-bottom    : 20px;
  border-radius    : 12px 12px 12px 12px;
  background-color : #fff;
  box-shadow       : 1px 1px 8px #999;
  cursor           : pointer;
}

.media {
  display : inline-block;
}

.media-body {
  border-radius : 0px 12px 0px 0px;
}

/* Image size of the journey card */

.card-img {
  width         : 100px;
  height        : 120px;
  padding       : 0;
  border        : 0;
  border-radius : 12px 0px 0px 12px;
}

.media-heading {
  padding          : 10px;
  color            : white;
  background-color : #ED5454;
}

.btn-part {
  display : inline-block;
  float   : right;
  margin  : 10px;
}

/* Jouneys' circle for points */

.circle {
  display       : inline-block;
  width         : 70px;
  height        : 70px;
  border-radius : 50%;
  background    : #47E086;
  text-align    : center;
}

/* un-bold the text */

.light {
  font-weight : 100;
}

/* Font for journey progress 7/10 */

.progress-font {
  color       : gray;
  font-family : Arial;
  font-size   : 15px;
}

/* Underline the text */

.underline {
  text-decoration : underline;
}

/* Centers and style for points inside the circle */

.points-circle {
  position  : relative;
  top       : 13px;
  color     : #ED5454;
  font-size : 30px;
}

/* Erases padding on the title */

.media-left {
  padding                : 0;
  border-top-left-radius : 12px;
}

/* Erase this after migrate */

.shadow {
  box-shadow : 0 1px 8px 0 rgba(0, 0, 0, 0.2),
               0 6px 25px 0 rgba(0, 0, 0, 0.19);
}
